*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 58, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 94);
    display: flex;
    align-items: center;
    justify-content: center;

}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}